{{ define "header" }}
  <h1 id="index-title" class="italic">
    <span class="alt-logo">{{ .Title | upper }}</span>
    <img src="/title.webp" id="site-title-img" alt="The Friendly Skies">
  </h1>
  <small class="homepage-caption">This blog is about civil aviation, technical aspects of aircraft design, aerospace, my personal experiences with aviation and many more topics concerned with … yes, you guessed it, aviation!</small>
{{ end }}


{{ define "main" }}
  <div class="fit-content">
    {{range .Site.RegularPages}}
      {{if .Params.is_article }}
        {{- partial "article_card.html" . -}}
      {{end}}
    {{end}}
  </div>
{{ end }}

{{ define "footer" }}
  {{ partial "footer-index.html" . }}
{{ end }}