
{{ if eq .idx 0 }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
  crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
  style="display:block;"
  data-ad-format="fluid"
  data-ad-layout-key="-fs-5j+ad-28-52"
  data-ad-client="ca-pub-6369456672635074"
  data-ad-slot="8053344945"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

{{ else if eq .idx 1}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
  crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
  style="display:block;"
  data-ad-format="fluid"
  data-ad-layout-key="-fs-5j+ad-28-52"
  data-ad-client="ca-pub-6369456672635074"
  data-ad-slot="8053344945"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

{{ else if eq .idx 2}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
  crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
  style="display:block;"
  data-ad-format="fluid"
  data-ad-layout-key="-fs-5j+ad-28-52"
  data-ad-client="ca-pub-6369456672635074"
  data-ad-slot="8053344945"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

{{ else if eq .idx 3}}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
  crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
  style="display:block;"
  data-ad-format="fluid"
  data-ad-layout-key="-fs-5j+ad-28-52"
  data-ad-client="ca-pub-6369456672635074"
  data-ad-slot="8053344945"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

{{ else if eq .idx 4}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
crossorigin="anonymous"></script>
<ins class="adsbygoogle"
style="display:block;"
data-ad-format="fluid"
data-ad-layout-key="-fs-5j+ad-28-52"
data-ad-client="ca-pub-6369456672635074"
data-ad-slot="8053344945"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ end }}