{{ if eq .idx 0 }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
  crossorigin="anonymous" defer></script>
  <ins class="adsbygoogle"
  style="display:block;"
  data-ad-format="fluid"
  data-ad-layout-key="-fs-5j+ad-28-52"
  data-ad-client="ca-pub-6369456672635074"
  data-ad-slot="8053344945"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

{{ else if eq .idx 1}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
     crossorigin="anonymous" defer></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fm-5k+a6-2d-4o"
     data-ad-client="ca-pub-6369456672635074"
     data-ad-slot="3931741889"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{ else if eq .idx 2}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
     crossorigin="anonymous" defer></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fm-5k+a6-2d-4o"
     data-ad-client="ca-pub-6369456672635074"
     data-ad-slot="9881901126"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{ else if eq .idx 3}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
     crossorigin="anonymous" defer></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fm-5k+a6-2d-4o"
     data-ad-client="ca-pub-6369456672635074"
     data-ad-slot="8568819455"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{ else if eq .idx 4}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
     crossorigin="anonymous" defer></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fm-5k+a6-2d-4o"
     data-ad-client="ca-pub-6369456672635074"
     data-ad-slot="6796744225"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ end }}