<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6369456672635074"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fm-5k+a6-2d-4o"
     data-ad-client="ca-pub-6369456672635074"
     data-ad-slot="7958233335"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<h1 id="article-title" >{{ .Title }}</h1>
<p class="author">
    {{ $author := index .Site.Data.authors .Page.Params.author }}
    Published: <time datetime="{{.Page.Params.Date}}">{{ time.Format "2006, Jan 2" .Page.Params.Date }}</time> | <span class="article-author">By {{ $author.name }}</span>
</p>