<a href="#index-title">Go back to the top</a>
<br>
<br>
{{ if not (eq .Site.Copyright "") }}
<span class="copyright">{{ replace .Site.Copyright "{year}" now.Year }}</span>

{{ end }}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ES2129S2WS"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-ES2129S2WS');
</script>

<script defer>
    function get_uuid(){
      if (localStorage.getItem("client_uuid") == null){
        let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
          return v.toString(16);
        });
        localStorage.setItem("client_uuid",uuid);
      }   
      return localStorage.getItem("client_uuid")
    }
    function get_user_data(){
      let country = Intl.DateTimeFormat().resolvedOptions().timeZone
      return country
    }
    function get_page_url(){
        let website_url = "https://thefriendlyskies.net"
        if (window.location.pathname+window.location.search == "/"){
            return website_url
        }
        else{
            let path = window.location.pathname+window.location.search
            return website_url + path.substring(0, path.length - 1);
        }
    }
  
    async function get_views(){
      let url = "https://micro-views.vercel.app/api/views"
      let website_url = "https://thefriendlyskies.net"
      const response = await fetch(url,{
        method: "GET"
      })
      const views = await response.json()
  
      let view_counts = document.getElementsByClassName("view-count");
  
      let urls = {}
      for (let obj of views){
        urls[obj.url] = obj.views
      }
  
      for (let element of view_counts) {
        let slug = element.dataset.slug
        let elem_url = website_url.concat(slug.substring(0, slug.length - 1))
        let item = urls[elem_url]
        if (item !== undefined){
          element.innerHTML = item
        }
        else{
          element.innerHTML = "0"
        }
        element.parentElement.style.display = "block"
      };
    }
  
    async function register_view(){
      let url = "https://micro-views.vercel.app/api/create_view"
    
      payload = {
        "viewer_instance":{
          "country": get_user_data(),
          "client_uuid": get_uuid(),
          "ip": ""
        },
        "url_instance": {
          "url": get_page_url()
        }
      }
      
      const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json; charset=UTF-8",
      },
      body: JSON.stringify(payload),
      });
      const res = await response.json()
    }
  
    get_views()
    register_view()
  </script>
