<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
        <link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        {{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">{{ end -}}
        <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.meta_description }}{{ end }}">
        <meta name="image" property="og:image" content="{{ with .Params.thumb }}{{ . }}{{ else }}{{ .Site.Params.og }}{{ end }}">
        {{ if isset .Params "author" }}
        {{ $author := index .Site.Data.authors (.Params.author | default "default") }}
        {{- if $author -}}
        <meta name="author" content="{{ $author.name }}">
        {{ end }}
        {{ end }}
        {{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . `, ` }}{{ end }}">{{ end }}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta charset="utf-8">
        <meta name="google-site-verification" content="PnANn863SSyOjAUcadrj0SXMvNUsl6itfZ33OPBw0mk" />
    </head>
    <body>
        {{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end }}

        <div class='flex-grow {{if in .Params.tags "manual"}}manual{{end}} {{if .Params.is_article }}content{{end}}'>
            <header>
                {{ block "header" . }}{{ end }}
            </header>
            <main {{if .Params.is_unique_page }}class="content"{{end}} {{if .Params.is_article }}class="content"{{end}}>
                {{ block "main" . }}{{ end }}
            </main>
        </div>

        <footer>
            {{ block "footer" . }}{{ end }}
        </footer>
    </body>
</html>
