<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	src: image resource
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
-->
{{ if .Get "src" }}
	{{ $image := resources.GetMatch (printf "%s*" (.Get "src") ) }}
	{{ $width := $image.Width }}
	{{ $height := $image.Height }}
	{{ $rotate := false }}
	{{ with $image.Exif }}
		{{if eq .Tags.Orientation 6 }}
			{{ $rotate = true }}
		{{end }}
	{{ end }}

	{{ if gt $width 720 }}
		{{ if $rotate }}
			{{ $image = $image.Resize "720x r270 q95" }}
		{{ else }}
			{{ $image = $image.Resize "720x q95" }}
		{{ end }}
	{{ else if gt $height 600 }}
		{{ if $rotate }}
			{{ $image = $image.Resize "x600 r90 q95" }}
		{{ else }}
			{{ $image = $image.Resize "x600 q95" }}
		{{ end }}
	{{ else }}
		{{ $xw := print $width "x" $height " q95" }}
		{{ $image = $image.Resize $xw }}
	{{ end }}
<figure {{ with .Get "id" }}id="{{.}}"{{ end }} {{ with .Get "class" }}class="{{.}}"{{ end }}>
	{{ with .Get "link"}}<a href="{{.}}">{{ end }}
	<img src="{{ $image.RelPermalink }}"
	     {{ with .Get "mouse" }} title="{{.}}"{{ end }}
	     {{ with .Get "alt" }} alt="{{.}}"{{ end }}>
	{{ if .Get "link"}}</a>{{ end }}
	{{ with .Get "caption" }}
	<figcaption>
	{{ . }}
	</figcaption>
	{{ end }}
</figure>
{{ end }}