*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --theme-bg: #ffff;
  --theme-fg: black;
  --theme-nav-bg: #ffff;
  --theme-nav-fg: black;
  --theme-highlight: yellow;
  --theme-active: #9a0c0c;
  --theme-h1: #FF8C00;
  --theme-a: #d31c1c;
}

/* font */
@font-face {
  font-family: borderlands;
  src: url(Compacta\ Bold\ Plain\ Regular.otf);
}
@font-face {
  font-family: fallout;
  src: url(monofonto.otf);
}
@font-face {
  font-family: bitter;
  src: url(Bitter-Regular.ttf);
}
@font-face {
  font-family: bitter-bold;
  src: url(Bitter-Bold.ttf);
}
body{
  min-height: 100vh;
  text-align: center;
  background-color: var(--theme-bg);
  font-family: bitter;
  color: var(--theme-fg);
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: var(--theme-a);
}

h1,h2,h3,h4,h5,strong{
  font-family: bitter-bold;
}

.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.italic{
  font-style: italic;
}
.note{
  margin: auto;
  text-align: center;
  display: block;
}

#profile-pic{
  max-width: 300px;
  margin: auto;
}

.homepage-caption{
  display: block;
  max-width: 500px;
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

#profile-pic>img{
  clip-path: circle();
}

#index-title{
  font-family: borderlands;
  display: flex;
  margin: 8px 16px;
  position: absolute;
  top: 2px;
}

#index-title>a{
  display: inherit;
}

#article-title{
  color: var(--theme-a);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 35px;
  margin: 10px;
}

#site-title-img{
  max-width: 165px;
  width: 100%;
}
.alt-logo{
  position: absolute;
  color: white;
  z-index: -1;
  font-size: 1px;
}

/* Nav */

.nav-container{
  position: relative;
  box-shadow: 0px 0px 1px 0px gray;
  height: 41px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--theme-nav-bg);
  width: 100%;
}

nav a {
  margin: 2px 16px;
  padding: 2px 5px;
  font-family: borderlands;
  color: var(--theme-nav-fg);
  font-size: 30px;
}
.active {
  color: var(--theme-active) !important;
}

a:hover{
  color: var(--theme-active)
}

.nav-burger{
  display: none;
}

.nav-burger svg {
  max-width: 25px;
  height: 25px;
  display: none;
}

@media only screen and (max-width: 860px) {
  #index-title{
    top:3px;
    left: 50px;
  }
  .nav-container{
    display: flex;
  }
  .nav-burger{
    margin-left: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }
  
  #nav{
    display: none;
  }
  nav a{
    margin: 0;
    padding-left: 20px;
  }
  nav a:not(:first-child){
    border-top: 1px solid var(--theme-active);
  }
  .nav-active{
    display: flex !important;
    flex-direction: column;
    text-align: left;
    position: absolute;
    box-shadow: 0px 2px 4px 1px gray;
    width: 80%;
    max-width: 250px;
    top: 41px;
    left: 0px;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;
  }
  .open-nav-btn{
    display: block !important;
  }
}


/* Article card */

.fit-content{
  width: fit-content;
  margin: 0 auto;
}

.article-card{
  margin: 30px auto 50px;
  text-align: left;
  display: flex;
  gap: 20px;
}

.author, .views{
  font-size: 10pt;
}
.article-views{
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: gray;
}
.article-meta{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media only screen and (max-width: 550px) {
  .article-card{
    display: block;
  }
  .article-card img{
    max-width: 500px !important;
    width: 100%;
    max-height: none !important;
    display: block;
    margin: auto;
  }
  .article-card .contents{
    margin-top: 5px;
  }
}
.article-card time{
  font-size: 10pt;
}
.article-card img{
  max-width: 200px;
  object-fit: cover;
  height: 100%;
  max-height: 150px;
}
.article-card .contents{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Articles */

main {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

.manual{
  font-family: bitter;
}

main.content{
  text-align: left;
  margin: auto;
}
div.content{
  font-family: bitter;
}

/* Header */
header {
  display: block;
  max-width: 800px;
  margin: auto;
  margin-bottom: 15px;
}

.content *{
  margin: revert;
  line-height: 1.8rem;
}

.content figure{
  text-align: center;
  margin: auto;
  max-width: 720px;
}
.content figure figcaption{
  font-style: italic;
}

figure img{
  max-width: 100%;
  max-height: 600px;
}

ul, ol{
  word-wrap: break-word;
  margin-left: 50px !important;
}

.content ul>li, .content ol>li{
  margin: 12px auto;
  word-wrap: break-word;
}

.content ol{
  margin: auto;
  width: 90%;
}
/* Footer */

footer{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.footer-links{
  font-size: 12px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Tag clouds */

#tagcloud{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
  font-family: fallout;
}
#tagcloud li{
  margin: 30px;
}

/* Tables */

table{
  border-collapse: collapse;
  margin: 20px auto !important;
  max-width: 650px;
  width: 100%;

}
table, td, th{
  border: 1px solid;
}
td, th{
  padding: 10px;
}

/* Traffic table */

#traffic-table{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 30px auto;
}
.traffic-stat p{
  margin: 0;
}
.traffic-stat .number{
  font-size: 2.5rem;
}
.traffic-stat .description{
  font-size: 0.8rem;
  line-height: normal;
  margin-top: 10px;
}

/* Social media list in footer */
#socials-shell{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
#socials-list{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#socials-list svg{
  width: 20px;
  height: 20px;
}
#socials-list svg:hover{
  fill: var(--theme-a);
  transition: 0.3s;
}


.metadata-shell{
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 5px;
}
#meta-socials-list{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#meta-socials-list a{
  display: block;
  height: 16px;
  width: 16px;
}
#meta-socials-list svg{
  width: 16px;
  height: 16px;
}
#meta-socials-list svg:hover{
  fill: var(--theme-a);
  transition: 0.3s;
}

.youtube-embed{
  display: block;
  margin: auto;
  max-width: 560px;
  width: 100%;
}

#affiliate-banner img{
  max-width: 800px;
  width: 100%;
}