*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --theme-bg: #ffff;
  --theme-fg: black;
  --theme-nav-bg: #ffff;
  --theme-nav-fg: black;
  --theme-highlight: yellow;
  --theme-active: #9a0c0c;
  --theme-h1: #FF8C00;
  --theme-a: #d31c1c;
}

/* font */
@font-face {
  font-family: borderlands;
  src: url(Compacta\ Bold\ Plain\ Regular.otf);
}
@font-face {
  font-family: fallout;
  src: url(monofonto.otf);
}
@font-face {
  font-family: bitter;
  src: url(Bitter-Regular.ttf);
}
@font-face {
  font-family: bitter-bold;
  src: url(Bitter-Bold.ttf);
}
body{
  min-height: 100vh;
  text-align: center;
  background-color: var(--theme-bg);
  font-family: bitter;
  color: var(--theme-fg);
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: var(--theme-a);
}

h1,h2,h3,h4,h5,strong{
  font-family: bitter-bold;
}

.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.italic{
  font-style: italic;
}
.note{
  margin: auto;
  text-align: center;
  display: block;
}

#profile-pic{
  max-width: 300px;
  margin: auto;
}

.homepage-caption{
  display: block;
  max-width: 500px;
  margin: auto;
}

#profile-pic>img{
  clip-path: circle();
}

#index-title{
  font-family: borderlands;
  font-size: 80px;
}

#article-title{
  margin: revert;
  color: var(--theme-a);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#site-title-img{
  max-width: 420px;
  width: 100%;
}
.alt-logo{
  position: absolute;
  color: white;
  z-index: -1;
  font-size: 1px;
}

/* Nav */

nav {
  display: flex;
  justify-content: center;
  background-color: var(--theme-nav-bg);
  width: 100%;
}

nav a {
  margin: 5px 16px;
  padding: 2px 5px;
  font-family: borderlands;
  color: var(--theme-nav-fg);
  font-size: 30px;
}
.active {
  color: var(--theme-active) !important;
}

a:hover{
  color: var(--theme-active)
}

.nav-burger svg {
  max-width: 25px;
  height: 25px;
  display: none;
}

@media only screen and (max-width: 550px) {
  .nav-burger{
    margin: 5px 0px 0px 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }
  
  #nav{
    display: none;
  }
  .nav-active{
    display: flex !important;
    flex-direction: column;
    text-align: left;
    position: absolute;
    box-shadow: 0px 0px 5px 1px rgb(118, 118, 118);
    width: 80%;
    max-width: 350px;
    top: 30px;
    left: 40px;
    z-index: 1;
  }
  .open-nav-btn{
    display: block !important;
  }
}

/* Header */
header {
  margin: 0px 15px auto 15px;
}

/* Article card */

.fit-content{
  width: fit-content;
  margin: 0 auto;
}

.article-card{
  margin: 30px auto 50px;
  text-align: left;
  display: flex;
  gap: 20px;
}

.author, .views{
  font-size: 10pt;
}
.article-views{
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: gray;
}
.article-meta{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media only screen and (max-width: 550px) {
  .article-card{
    display: block;
  }
  .article-card img{
    max-width: 500px !important;
    width: 100%;
    display: block;
    margin: auto;
  }
}
.article-card time{
  font-size: 10pt;
}
.article-card img{
  max-width: 200px;
}
.article-card .contents{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

/* Articles */

main {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

.manual{
  font-family: bitter;
}

main.content{
  text-align: left;
  margin: auto;
}
div.content{
  font-family: bitter;
}

.content *{
  margin: revert;
  line-height: 1.8rem;
}

.content figure{
  text-align: center;
  margin: revert;
}
.content figure figcaption{
  font-style: italic;
}

figure img{
  max-width: 100%;
  max-height: 600px;
}

ul, ol{
  word-wrap: break-word;
  margin-left: 50px !important;
}

.content ul>li, .content ol>li{
  margin: 12px auto;
  word-wrap: break-word;
}

.content ol{
  margin: auto;
  width: 90%;
}
/* Footer */

footer{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
}

/* Tag clouds */

#tagcloud{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
  font-family: fallout;
}
#tagcloud li{
  margin: 30px;
}

/* Tables */

table{
  border-collapse: collapse;
  margin: 20px auto !important;
  max-width: 650px;
  width: 100%;

}
iframe{
  display: block !important;
  margin: auto !important;
  width: 100%;
  max-width: 560px;
  max-height: 315px;
}
table, td, th{
  border: 1px solid;
}
td, th{
  padding: 10px;
}

/* Traffic table */

#traffic-table{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 30px;
}
.traffic-stat p{
  margin: 0;
}
.traffic-stat .number{
  font-size: 2.5rem;
}
.traffic-stat .description{
  font-size: 0.8rem;
  line-height: normal;
  margin-top: 10px;
}

/* Social media list in footer */
#socials-shell{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
#socials-list{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#socials-list svg{
  width: 20px;
  height: 20px;
}
#socials-list svg:hover{
  fill: var(--theme-a);
  transition: 0.3s;
}