*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --theme-bg: #ffff;
  --theme-fg: black;
  --theme-nav-bg: #ffff;
  --theme-nav-fg: black;
  --theme-highlight: yellow;
  --theme-active: #9a0c0c;
  --theme-h1: #FF8C00;
  --theme-a: #d31c1c;
}

/* font */
@font-face {
  font-family: borderlands;
  src: url(Compacta\ Bold\ Plain\ Regular.otf);
}
@font-face {
  font-family: fallout;
  src: url(monofonto.otf);
}
@font-face {
  font-family: bitter;
  src: url(Bitter-Regular.ttf);
}
body{
  min-height: 100vh;
  text-align: center;
  background-color: var(--theme-bg);
  font-family: bitter;
  color: var(--theme-fg);
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: var(--theme-a);
}

.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.italic{
  font-style: italic;
}
.note{
  margin: auto;
  text-align: center;
  display: block;
}

#profile-pic{
  max-width: 200px;
  margin: auto;
}

#profile-pic>img{
  clip-path: circle();
}

#index-title{
  font-family: borderlands;
  font-size: 80px;
}

#article-title{
  margin: revert;
  color: var(--theme-a);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#site-title-img{
  max-width: 420px;
  width: 100%;
}
.alt-logo{
  position: absolute;
  color: white;
  z-index: -1;
  font-size: 1px;
}

/* Nav */

nav {
  display: flex;
  justify-content: center;
  background-color: var(--theme-nav-bg);
  width: 100%;
}

nav a {
  margin: 5px 16px;
  padding: 2px 5px;
  font-family: borderlands;
  color: var(--theme-nav-fg);
  font-size: 30px;
}
.active {
  color: var(--theme-active) !important;
}

a:hover{
  color: var(--theme-active)
}

/* Header */
header {
  margin: 0px 15px auto 15px;
}

/* Article card */

.fit-content{
  width: fit-content;
  margin: 0 auto;
}

.article-card{
  margin: 30px auto 50px;
  text-align: left;
  display: flex;
  gap: 20px;
}
.article-card time{
  margin: auto 10px 6px 2px;
  font-size: 10pt;
}
.article-card img{
  max-width: 200px;
}
.article-card div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

/* Articles */

main {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

.manual{
  font-family: bitter;
}

main.content{
  text-align: left;
  margin: auto;
}
div.content{
  font-family: bitter;
}

.content *{
  margin: revert;
  line-height: 1.8rem;
}

.content figure{
  text-align: center;
  margin: revert;
}
.content figure figcaption{
  font-style: italic;
}

figure img{
  width: 100%;
}

ul, ol{
  word-wrap: break-word;
}

.content ul>li, .content ol>li{
  margin: 12px auto;
  word-wrap: break-word;
}

.content ol{
  margin: auto;
  width: 90%;
}
/* Footer */

footer{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
}

/* Tag clouds */

#tagcloud{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
  font-family: fallout;
}
#tagcloud li{
  margin: 30px;
}

/* Tables */

table{
  border-collapse: collapse;
  margin: 20px auto !important;
  max-width: 600px;
  width: 100%;

}
iframe{
  display: block !important;
  margin: auto !important;
}
table, td, th{
  border: 1px solid;
}
td, th{
  padding: 10px;
}